# Telegram API Settings
API_ID={API_ID}
API_HASH={API_HASH}
API_TOKEN={API_TOKEN}

# Bot Settings
BOT_PASSWORD={psw}
TARGET_GROUP_ID={group id}
SESSION_NAME=session_name

# File paths
SLOVAR_FILE=slovar1.txt
MINSLOVAR_FILE=minslovar1.txt
KOLSLOV_FILE=kolslov.txt
